@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

.ui-growl {
	right: 20px;
	top: 50%;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	overflow: visible !important;
}

.padding-table {
	padding-bottom: 20px;
}

puilabel, label {
	display: inline-block;
}

.ui-growl {
	top: 20px !important;
}

.left label {
	text-align: left !important;
}

.center {
	text-align: center;
}

.label_height {
	line-height: 30px;
}

table td {
	font-family: Verdana, Arial, sans-serif;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.row {
	margin-bottom: 10px;
}

.checkbox_roles {
	font-family: Verdana, Arial, sans-serif;
	font-size: 90% !important;
	font-weight: normal;
}

.ui-spinner-input {
	padding: 4px !important;
	margin-left: 0 !important;
}

.right {
    text-align: right;
}

.inputs_projects{
	margin-top:10px;
}

.currency::after{
	content: "€"; 
}

.percentaje::after{
	content: "%"; 
}
.table-bordered label {
    margin-right: 10px;
}

.delete_button{
	float: right;
    font-size: 17px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.add_employee{
	width:100%;
}

.persons_form{
	padding:10px;
}

.delete_icon{
	position:absolute;
	top:0;
	left:0;
}